
@if(_eventTypeList.Any()){
    <EditForm EditContext="@_editContext" OnValidSubmit="SaveLog">
        <DataAnnotationsValidator></DataAnnotationsValidator>

        <div class="d-flex">
            <div class="mx-4">
                <div class="form-group">
                    <label for="eventTitle">Event Title</label>
                    <input class="form-control shadow-none" id="eventTitle" type="text" @bind="_newEvent.EventTitle"/>
                </div>

            </div>
            <div class="mx-4">
                <div class="form-group">
                    <label for="duration">Duration</label>
                    <input class="form-control shadow-none" id="duration" type="text" @bind="_newEvent.Duration"/>
                </div>
            </div>
        </div>
    
        <div class="d-flex">
            <div class="mx-4">
                <div class="form-group">
                    <label for="eventDate">Event Date</label>
                    <input class="form-control shadow-none" id="eventDate" type="text" @bind="_newEvent.EventDate"/>
                </div>
    
            </div>
            <div class="mx-4">
                <div class="form-group">
                    <label for="eventType">Event Type</label>
                    <select class="form-control" id="eventType" @bind="_newEvent.EventTypeId">
                        <option value="0">Select One</option>
                        @foreach (var type in _eventTypeList)
                        {
                            <option value="@type.EventTypeId">@type.EventTypeName</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <hr/>
        <div>
            <button type="submit" @onClick="SaveLog">Save</button>
        </div>


    </EditForm>
    }